<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/wyl.css">
    <title>大数据就业分析</title>
    
    <script src="../static/js/echarts.min.js"></script>
    
    <script src="../static/js/jquery-3.6.0.min.js"></script>
	<script src="../static/js/wyl1.js"></script>
	<script src="../static/js/wyl2.js"></script>
</head>
<body>
    <div class="t_container">
        <header class="t_h_bg">
            <span>大数据就业分析</span>
        </header>
        <main class="t_main">
            <div class="t_box">
                <header class="t_title">
                    <span>工资分析</span>
                    <span class="t_number">230000.00</span>
                </header>
                <div class="t_list">
                    <div class="t_min">未就业人数 <i></i></div>
                    <div class="t_min">就业人数 100 <i></i></div>
                    <div class="t_min">就业率 78%<i class="down"></i></div>
                </div>
                <div id="chart_1" class="echart" style="width: 100%; height: 2.4rem;"></div>
            </div>
            <div class="t_box">
                <header class="t_title">
                    <span>就业人数统计</span>
                </header>
                <div id="chart_2" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
            <div class="t_box">
                <header class="t_title">
                    <span>就业方向走势图</span>
                </header>
                <div id="chart_3" class="echart" style="width: 100%; height: 3rem;"></div>
            </div>
            <div class="t_box">
                <div class="main_table t_btn8">
                    <table>
                        <thead>
                        <tr>
                            <th>平均工资</th>
                            <th>就业市场</th>
                            <th>就业渠道</th> 
                            <th>就业总人数</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>21449</td>
                            <td>26667</td>
                            <td>18248</td>
                            <td>20166</td>
                        </tr>
                        <tr>
                            <td>12227</td>
                            <td>21140</td>
                            <td>18208</td>
                            <td>20115</td>
                        </tr>
                        <tr>
                            <td>14977</td>
                            <td>20505</td>
                            <td>25342</td>
                            <td>20114</td>
                        </tr>
                        <tr>
                            <td>17494</td>
                            <td>19647</td>
                            <td>20227</td>
                            <td>20135</td>
                        </tr>
                        <tr>
                            <td>16493</td>
                            <td>18812</td>
                            <td>20394</td>
                            <td>20124</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
</body>
</html>